.cf:before,
.cf:after {
    content: "";
    display: table;
} 
.cf:after {
    clear: both;
}
.cf {
    zoom: 1; /* For IE 6/7 (trigger hasLayout) */
}
body{
  font-family: verdana;
  color: #2e3641;
  background-color: #E4E4E4;
}

input{
  color: #838383;
}
.wrapper {
  padding: 20px 0;
}

.container {
  width: 1050px;
  min-width: 1050px;
  margin: 30px auto;
}

h1 {
  font: 36px Arial;
  text-align: center;
  width: 900px;
  margin: 0 auto;
  letter-spacing: 0.1em;
}

h2 {
  font: 28px Arial;
  margin: 0 0 30px 0;
}

h3 {
  font-family: Arial;
  font-size: 18px;
  font-style: italic;
  color: #2e3641;
  text-align: left;
}
.block {
  border-top: 1px solid #f97e76;
  padding:  0 0 20px;
}
/*.block:first-child {
  border-bottom: none;
}*/
.result,
.controls {
  float: left;
  box-shadow: 0 0 30px 0 rgba(0,0,0,0.3);
  border: 1px solid #888;
  min-width: 300px;
  text-align: center;
}
.result {
  position: relative;
  min-height: 500px;
  width: 651px;
  overflow: hidden;
  background-color: #FFFFED;
}
#bg__wrapper {
  overflow: hidden;
}
.controls {
  width: 300px;
  margin-left: 30px;
  padding: 20px 20px 0;
  background-color: #f1f1f5;
}
.drag {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0.5;
  z-index: 9999;

}
.drag:hover {
  cursor: move;
}

.position{

}

.pos__pad{
  margin: 0;
  width: 126px;
  float: left;
  padding: 10px;
}
.position__buttons{
  padding: 0px;
  margin: 0px;
  list-style: none;
  width: 126px;
}
.position__btn{
  float: left;
  margin: 0;
  border: 1px solid #888;
}
input#opacity {
  display: block;
  width: 100%;
  margin: 10px 0;
}

.position__b-link{
  display: block;
  background-color: #ccc;
  width: 40px;
  height: 40px;
}
.position__b-link:hover {
  background-color: #aaa;
}
.position__b-link:active {
  background-color: #888;
}
.position__b-link__active{
  background-color: #f97e76; 
}
.position__b-link__active:hover{
  background-color: #f97e76; 
}
.pos__adjust{
  float: left;
  width: 125px;
  padding: 10px;
}

.pos__adjust *{
  box-sizing: border-box;
}

.pos__row{
  display: block;
  margin-bottom: 10px;
}

.pos__spin{
  font-size: 18px;
  line-height: 52px;
  top: 0;
  display: inline-block;
  float: left;
  width: 60px;
  text-align: center;
}

.ctrl__input {
  display: block;
  width: 300px;
  padding: 10px;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

.buttons {
  padding-top: 20px;
}
.control__btn {
  display: block;
  width: 100px;
  height: 42px;
  font: 16px Verdana;
  background-color: #fff;
  border: 2px solid transparent;
  color: #fff;
  cursor: pointer;
  transition: all 0.3s ease 0;
}
.control__btn:hover {
  transform: scale(1.1);
}
.control__btn:focus {
  outline: none;
}

.control__btn__send{
  background-color: #f97e76;
  float: right;
}
.control__btn__clear{
  background-color: #c1cfd9;
  float: left;
}

.modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
  background-color: rgba(0,0,0,0.3);
}

.modal-error {
  width: 500px;
  margin: 200px auto 0;
  padding: 30px;
  border: 5px solid #f97e76;
  font: 24px verdana;
  color: #f97e76;
  background-color: #eee;
  box-shadow: 0 0 30px 0 rgba(0,0,0,0.5);
}


.ui-button-text:hover {
  color: #f97e76;
  cursor: pointer;
}