.cf:before,
.cf:after {
    content: "";
    display: table;
} 
.cf:after {
    clear: both;
}
.cf {
    zoom: 1; /* For IE 6/7 (trigger hasLayout) */
}
body{
  font-family: verdana;
}
.container {
  width: 1050px;
  margin: 30px auto;
}
h3 {
  font-size: 18px;
  font-style: italic;
  color: #333;
  text-align: center;
}
.result,
.controls {
  float: left;
  box-shadow: 0 0 30px 0 rgba(0,0,0,0.3);
  border: 1px solid #888;
  min-width: 300px;
  text-align: center;
}
.result {
  position: relative;
  min-height: 500px;
  width: 651px;
  overflow: hidden;
  margin-bottom: 30px;
}
#bg__wrapper {
  overflow: hidden;
}
.controls {
  width: 300px;
  margin-left: 30px;
  padding: 20px;
}
.drag {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0.5;
  z-index: 9999;

}
.drag:hover {
  cursor: move;
}

.position{

}

.pos__pad{
  margin: 0;
  width: 126px;
  float: left;
  padding: 10px;
}
.position__buttons{
  padding: 0px;
  margin: 0px;
  list-style: none;
  width: 126px;
}
.position__btn{
  float: left;
  margin: 0;
  border: 1px solid #888;
}

.position__b-link{
  display: block;
  background-color: #ccc;
  width: 40px;
  height: 40px;
}
.position__b-link:hover {
  background-color: #aaa;
}
.position__b-link:active {
  background-color: #888;
}
.position__b-link__active{
  background-color: #f97e76; 
}
.position__b-link__active:hover{
  background-color: #f97e76; 
}
.pos__adjust{
  float: left;
  width: 125px;
  padding: 10px;
}

.pos__adjust *{
  box-sizing: border-box;
}

.pos__row{
  display: block;
  margin-bottom: 10px;
}

.pos__spin{
  font-size: 18px;
  top: 0;
  display: inline-block;
  float: left;
  width: 60px;
}

.ctrl__input {
  display: block;
  width: 300px;
}

.button {
  display: block;
  width: 100px;
  height: 30px;
  font: 16px Verdana;
  background-color: #08f;
  color: #fff;
}

.modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
  background-color: rgba(0,0,0,0.3);
}


.modal-error {
  width: 500px;
  margin: 200px auto 0;
  padding: 30px;
  border: 5px solid #f97e76;
  font: 24px verdana;
  color: #f97e76;
  background-color: #eee;
  box-shadow: 0 0 30px 0 rgba(0,0,0,0.5);
}