@import "../_misc/mixins";

/* --------- common --------- */
.maincontent{
  padding-bottom: 56px;
  overflow: auto;
  margin: 60px 10px auto;
}
/* --------- RESULT --------- */
.result{
  background-color:  rgba(46, 54, 65, 0.64);
  width: 700px;
  height: 670px;
  float: left;
  display: inline-block;
  position: relative;
  &__title{
    .segoe-ui-light;
    color: #fff;
    font-size: 36px;
    line-height: 1em;
    margin: 15px 22px 60px;
  }
  &__imagebox{
    margin: 0 auto;
    position: relative;
    width: 650px;
    height: 534px;
    background: #fff url("../../img/bg/result-bg.png");
    overflow: hidden;
    .drag{
      position: absolute;
      top: 0;
      left: 0;
      opacity: 0.5;
      z-index: 9999;
      &:hover {
        cursor: move;
      }
  }
}
}
#result-box {
  font-size: 0;
  text-align: center;
  overflow: hidden;
  position: relative;
}

#work {
  position: absolute;
  overflow: hidden;
  .zero();
}

#bg, #wm, #wm-tiles-work, #wm-tiles {
  position: absolute;
  .zero();
}

#wm {
  cursor: move;
}

#wm-tiles-work {
  display: none;
}
#wm__img, #bg__img {
  display: block;
}

/* --------- CONTROLS --------- */

.controls{
  background-color:  #f1f1f5;
  width: 260px;
  height: 670px;
  float: left;
  display: inline-block;
  &__title{
    .roboto-light;
    text-align: center;
    line-height: 1em;
    font-size: 26px;
    margin: 27px 0 auto;
    padding-bottom: 35px;
  }
  form{
    margin: 0;
    padding: 0;
    .noborder,.noborder:after,.noborder:before {border: 0;}
    .error {
      .roboto-light;
      font-size: 12px;
      line-height: 25px;
      position: absolute;
      top: 0;
      right: 100%;
      height: 25px;
      margin-right: 20px;
      padding: 0 10px;
      white-space: nowrap;
      color: #fff;
      background-color: #f97e76;
      display: none;
    }
    .error:after {
      position: absolute;
      top: 0;
      left: 100%;
      width: 0;
      height: 0;
      content: '';
      border-width: 13px 0 12px 12px;
      border-style: solid;
      border-color: transparent transparent transparent #f97e76;
    }
    fieldset{
      margin: 0;
      padding: 0 0 7px;
      border: none;
      position: relative;
      display: block;
      border-bottom: 1px solid rgba(249, 126, 118, 0.4);
      &:after {
        position: absolute;
        z-index: 2;
        bottom: -10px;
        left: 50%;
        margin-left: -9px;
        content: '';
        border-top: 10px solid rgba(249, 126, 118, 0.4);
        border-right: 9px solid transparent;
        border-left: 9px solid transparent;
      }
      &:before {
        position: absolute;
        z-index: 5;
        bottom: -9px;
        left: 50%;
        margin-left: -9px;
        content: '';
        border-top: 10px solid #f1f1f5;
        border-right: 9px solid transparent;
        border-left: 9px solid transparent;
      }

    }
  }
}

.controls__inputs-group{
  padding: 0 20px;
  text-align: left;
}
.noborder, .noborder:after, .noborder:before{border: none;}
.controls__file-title{
  display: block;
  color: #2e3641;
  font-size: 14px;
  line-height: 1em;
  .roboto-light;
}
.controls__file{
  position: relative;
  width: 100%;
  margin-top: 10px;
  margin-bottom: 24px;
  &:after{
//    clear: both;
    content: '';
  }
}
.controls__file-input--fake{
  display: block;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  border: 1px solid #9eb2c0;
  width: 185px;
  height: 27px;
  font-family: SegoeUILight;
  font-weight: 400;
  font-style: normal;
  color: #9eb2c0;
  font-size: 14px;
  padding-left: 4px;
  padding-right: 4px;
  line-height: 1.5em;
  box-sizing: border-box;
}
.controls__file-input {
  cursor: pointer;
  height: 27px;
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  width: 186px;
}

.controls__file-input--btn {
  height: 27px;
  position: absolute;
  width: 39px;
  border: none;
  background: url("../../img/icons/controls.png")  0 0 no-repeat;
  display: block;
  top: 0;
  right: 0;
  z-index: 10;
  text-indent: -9999px;
}

/* --------- POSITION --------- */
.controls__switch{
  position: relative;
  height: 20px;
  margin-bottom: 30px;
  margin-top: 17px;
  &-title{
    .controls__file-title;

  }
  &-group{
    position: absolute;
    top: 0;
    right: 0;
    overflow: hidden;
    height: 20px;
    margin: 0 0 -10px;
  }
}
// Кнопки выбора 1 или 4 watermark
.one,
.four{
  float: left;
  width: 20px;
  height: inherit;
  margin: 0 10px 0 0;
  background-image: url("../../img/icons/controls.png");
  background-repeat: no-repeat;
  text-indent: -9999px;
  background-color: rgba(0, 0, 0, 0);
  border:0;
  cursor: pointer;
}
.four{
  background-position: -47px -15px;
  &:hover{
    background-position: -86px -15px;
  }
  &.active{
    background-position: -66px -15px;
  }
}
.one{
  background-position: -47px -41px;
  &:hover{
    background-position: -86px -41px;
  }
  &.active{
    background-position: -66px -41px;
  }
}
// POSITION TABLE 1 watermark
.position__one-watermark{
  padding-bottom: 20px;

.one-watermark__wrapper{
  float: left;
  border: 1px solid #9eb2c0;
  width:100px;
  height: 99px;
  overflow: hidden;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
}
.one-watermark__table{
  width:102px;
  height: 102px;
  background-color:  rgba(193, 207, 217, 0.46);
  margin: -1px 0 0 -1px;
  padding: 0;
  display:table;
  border-collapse: collapse;
}
.one-watermark__row{
  display:table-row;
}
.one-watermark__col{
  width: 33px;
  display:table-cell;
  height: 33px;
  border: 1px solid #9eb2c0;
  margin: 0;
  padding: 0;
  &-link{
    width:100%;
    height: 100%;
    display: block;
    &:hover{
      background-color:  darken(#9eb2c0, 20%);
      cursor: pointer;
    }
    &__active {
      background-color:  #f97e76;
    }
  }
}
//COORDINATE TABLE 1 watermark
.coordinate__property{
  float: right;
  width: 85px;
  margin: -1px 10px 0 0;
  &-block{
    position: relative;
    float: right;
    margin: 0 -14px 10px;
  }
  &-name{
    line-height: 44px;
    font-size: 16px;
    width: 10px;
    font-weight: 300;
    text-transform: uppercase;
    text-align: center;
    float: left;
    margin: 0 5px 0 0;

  }
  &-control{
    position: relative;
    width: 15px;
    height: 46px;
    float: left;
    margin: 0 5px 0 0;
  }
  &-input{
    .segoe-ui-light;
    border: 1px solid #9eb2c0;
    border-radius: 3px;
    background-color: #fff;
    color:  #444a53;
    font-size: 18px;
    width: 44px;
    height: 44px;
    padding: 0;
    text-align: center;
    float: left;
    margin: 0 5px 0 0;
  }
  &-btn{
    right: 0;
    left: 0;
    width: inherit;
    height: 10px;
    margin: auto;
    background-image: url("../../img/icons/controls.png");
    background-repeat: no-repeat;
    position: absolute;
    overflow: hidden;
    text-align: left;
    text-indent: -9999px;
    cursor: pointer;
    &.plus{
      background-position: -8px -36px;
      top:5px;
      &:hover{
        background-position: -28px -36px;
      }
    }
    &.minus{
      bottom: 5px;
      background-position: -8px -66px;
      &:hover{
        background-position: -28px -66px;
      }
    }
  }
}
}
.position__four-watermark{
  padding-bottom: 20px;
  display:none;
// POSITION TABLE 4 watermark
  .four-watermark__wrapper{
    float: left;
    border: 1px solid #9eb2c0;
    width:99px;
    height: 99px;
    overflow: hidden;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
    border-radius: 3px;
    position: relative;
  }
  .margin-line{
    line-height: 0;
    position: absolute;
    overflow: hidden;
    text-indent: -9999px;
    background-color: #f97e76;
  }
  .margin-line.horizontal{
    top: 0;
    bottom: 0;
    width: 100%;
    height: 1px;
    margin: auto;
  }
  .margin-line.vertical{
    top: 0;
    right: 0;
    left: 0;
    width: 1px;
    height: 100%;
    margin: 0 auto;
  }
  .four-watermark__table{
    width:102px;
    height: 102px;
    background-color:  rgba(193, 207, 217, 0.46);
    margin: -1px 0 0 -1px;
    padding: 0;
    display:table;
    border-collapse: collapse;
  }
  .four-watermark__row{
    display:table-row;
  }
  .four-watermark__col{
    width: 33px;
    display:table-cell;
    height: 33px;
    border: 1px solid #9eb2c0;
    margin: 0;
    padding: 0;
    &-link{
      width:100%;
      height: 100%;
      display: block;
    }
  }

// COORDINATE TABLE 4 watermark
  .margin__property{
    float: right;
    width: 85px;
    margin: -1px 10px 0 0;
    &-block{
      position: relative;
      float: right;
      margin: 0 -14px 10px;
    }
    &-name{
      position: absolute;
      top: 15px;
      right: 94px;
      bottom: 0;
      width: 9px;
      height: 29px;
      font-size: 30px;
      display: block;
    }
    &-control{
      position: relative;
      width: 15px;
      height: 46px;
      float: left;
      margin: 0 5px 0 0;
    }
    &-input{
      .segoe-ui-light;
      border: 1px solid #9eb2c0;
      border-radius: 3px;
      background-color: #fff;
      color:  #444a53;
      font-size: 24px;
      width: 44px;
      height: 44px;
      padding: 0;
      text-align: center;
      float: left;
      margin: 0 5px 0 0;
    }
    &-btn{
      right: 0;
      left: 0;
      width: inherit;
      height: 10px;
      margin: auto;
      background-image: url("../../img/icons/controls.png");
      background-repeat: no-repeat;
      position: absolute;
      overflow: hidden;
      text-align: left;
      text-indent: -9999px;
      cursor: pointer;
      &.plus{
        background-position: -8px -36px;
        top:5px;
        &:hover{
          background-position: -28px -36px;
        }
      }
      &.minus{
        bottom: 5px;
        background-position: -8px -66px;
        &:hover{
          background-position: -28px -66px;
        }
      }
    }
  }
}
// OPACITY BLOCK
.slider__box {
  .controls__switch;
  margin-bottom: 15px;
  padding: 0 20px 30px;
  &-title {
    .controls__file-title;

  }
}
.ui-slider {
  position: relative;
  width: 218px;
  height: 3px;
  margin: 25px 0 30px;
  border-radius: 3px;
  background-color: #dbe1e8;
}
.ui-slider .ui-slider-handle { position: absolute; z-index: 2; width: 1.2em; height: 1.2em; cursor: default; }
.ui-slider .ui-slider-range { position: absolute; z-index: 1; font-size: .7em; display: block; border: 0; background-position: 0 0; }
.ui-slider-horizontal {
  background-color:  #dbe1e8;
  height: 3px;
}
.ui-slider-horizontal .ui-slider-handle { top: -.3em; margin-left: -.6em; }
.ui-slider-horizontal .ui-slider-range { top: 0; height: 100%; }
.ui-slider-horizontal .ui-slider-range-min { left: 0; background-color:  #9eb2c0;
  height: 3px;}
.ui-slider-horizontal .ui-slider-range-max { right: 0; }
.ui-slider .ui-slider-handle{
  position: absolute;
  z-index: 100;
  top: 50%;
  margin: -11px 0 0 -11px;
  cursor: pointer;
  outline: none;
  border-radius: 50%;
  border-width: 7px;
  border-color:  #dbe1e8;
  border-style: solid;
  background-color:  #9eb2c0;
  box-shadow: 0px 1px 1px 0.00px rgba(0, 0, 0, 0.38);
  width: 8px;
  height: 8px;
  &:hover{
    background-color:  #f97e76;
  }
}
//BUTTONS
.button--reset{
  margin-top:55px;
  margin-left: -10px;
  border-radius: 3px;
  background-color:  #c1cfd9;
  width: 99px;
  height: 42px;
  float:left;
  line-height: 40px;
  font-size:18px;
  color:  #f1f1f5;
  font-weight: 500;
  border: 0;
  &:hover{
    border: 1px solid #a6b2bb;
    background: -webkit-linear-gradient(90deg, #c1cfd9 0%, #a0acb5 5%, #9eaab3 100%);
    background: -moz-linear-gradient(90deg, #c1cfd9 0%, #a0acb5 5%, #9eaab3 100%);
    background: -o-linear-gradient(90deg, #c1cfd9 0%, #a0acb5 5%, #9eaab3 100%);
    background: -ms-linear-gradient(90deg, #c1cfd9 0%, #a0acb5 5%, #9eaab3 100%);
    background: linear-gradient(0deg, #c1cfd9 0%, #a0acb5 5%, #9eaab3 100%);
  }
}
.button--submit{
  .button--reset;
  margin-right: -10px;
  background-color: #f97e76;
  float:right;
  &:hover{
    border: 1px solid #e3736c;
    background: -webkit-linear-gradient(90deg, #f97e76 0%, #e4746c 94%, #e3736c 100%);
    background: -moz-linear-gradient(90deg, #f97e76 0%, #e4746c 94%, #e3736c 100%);
    background: -o-linear-gradient(90deg, #f97e76 0%, #e4746c 94%, #e3736c 100%);
    background: -ms-linear-gradient(90deg, #f97e76 0%, #e4746c 94%, #e3736c 100%);
    background: linear-gradient(0deg, #f97e76 0%, #e4746c 94%, #e3736c 100%);
  }
}

.input-file {
    position: relative;
    z-index: 1;
    display: inline-block;
    // overflow: hidden;
}
.label__file {
    font-size: 0;
    position: absolute;
    z-index: 1;
    top: 0;
    right: 0;
    bottom: 0;
    overflow: hidden;
    cursor: pointer;
    text-align: center;
    width: 39px;
    background-color: #f97e76;
    border-radius: 0 3px 3px 0;
}
.ie-8 .label__file {
    bottom: 1px;
}
.label__file:before {
    display: inline-block;
    height: 100%;
    content: '';
    vertical-align: middle;
}
.label__file .icon {
  background: url(../../img/icons/icon-upload.png) no-repeat center;
  width: 21px;
  height: 16px;
  display: inline-block;
  vertical-align: middle;
    transition: -webkit-transform .2s ease;
    transition:         transform .2s ease;
    -webkit-transform: translateZ(0);
            transform: translateZ(0);
}
.label__file:active .icon {
    -webkit-transform: scale(.9);
            transform: scale(.9);
}
#input__file-main, #input__file-watermark {
    position: absolute;
    z-index: -5;
    top: -100%;
    left: 0;
    visibility: hidden;
    cursor: pointer;
    opacity: 0;
}
.ie-8 #input__file {
    visibility: visible;
}
.input__file-name {
    pointer-events: none;
    color: #9EB2C0;
    font-size: 12px;
    font-weight: 300;
    padding: 0 45px 0 5px;
    width: 220px;
    height: 27px;
    border: 1px solid #9EB2C0;
    border-radius: 3px;
    box-sizing: border-box;
    background: transparent;
}
.drug__watermark {
  float: left;
  margin: 0;
  padding: 0;
}

