@import "../_misc/mixins";

/* --------- header --------- */
body{
  background: #d5b39c url("../../img/bg/page-bg.jpg") no-repeat center center fixed;
  .roboto-medium;
  line-height: 1.5em;
  position: relative;
  color: #2e3641;
  background-size: cover;
  width:100%;
  height: 100%;
}