//
   Created by FreeWay on 15.01.15.

.social__container
    .language.clearfix
        .language__rus
            a(href="РУС" title="Переключить на русский").language__link.language__link__rus РУС
        .language__eng
            a(href="ENG" title="Switch to english").language__link.language__link__eng ENG
    .social.clearfix
        .social__like
        ul.social__list
            li.social__list-item
                a(href="" title="").social__list-item-link#fb facebook
            li.social__list-item
                a(href="" title="").social__list-item-link#twitter twitter
            li.social__list-item
                a(href="" title="").social__list-item-link#vk vkontakte