//
   Created by FreeWay on 15.01.15.

.language
    .language__rus
        a(href="РУС" title="Переключить на русский").language__rus-link РУС
    .language__eng
        a(href="ENG" title="Switch to english").language__eng-link ENG
.social
    ul.social__list
        li.social__list-item
            a(href="" title="").social__list-item-link.fb facebook
        li.social__list-item
            a(href="" title="").social__list-item-link.twitter twitter
        li.social__list-item
            a(href="" title="").social__list-item-link.vk vkontakte
